
div {
    color: rgb(197, 64, 27);
}

#div1 {
    color: green;
}

#div2 {
    color: blue;
}

#unorder-list {
    color: palevioletred;

}

#order-list {
    color: aqua;
}

.large-font {
    font-size: 2rem;
}

.deep-background {
    background-color: black;
    font-size: 4rem;
}

.version {
    background-color: darkgreen;
    color: aliceblue;
    padding: 2px 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    border: 1px dashed gold;
}

table,
th,
td{
    border:1px solid grey;
    border-collapse: collapse;
}

.mytable_class{
    background-color: orange;
}

.img{
    width: 30%;  
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text],
input[type=password],
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}